<div class="saveText">
  <h3>ПО для работы с лингвистической базой знаний </h3>
  <div>
    <button (click)="saveDictionary()" class="btn btn-link">Сохранить словарь</button>
    <button (click)="saveStatistics()" class="btn btn-link">Сохранить статистику</button>
    <button (click)="saveAnnotatedText()" class="btn btn-link">Сохранить аннотированный текст</button>
  </div>
</div>
<div class="file-buttons">
  <app-download-file
    class="file-buttons-item"
    buttonName="Открыть файл"
    (fileParsed)="onFileParsed($event)"
  ></app-download-file>
  <app-download-file
    class="file-buttons-item"
    buttonName="Открыть словарь"
    (fileParsed)="onDictionaryParsed($event)"
  ></app-download-file>
  <app-download-file
    class="file-buttons-item"
    buttonName="Открыть аннотированный текст"
    (fileParsed)="onAnnotatedFileParsed($event)"
  ></app-download-file>
  <app-download-file
    class="file-buttons-item"
    buttonName="Открыть статистику"
    (fileParsed)="onStatisticsFileParsed($event)"
  ></app-download-file>
</div>

<ul class="nav nav-pills dictionary-menu  nav-stacked">
  <li class="nav-link active"><a data-toggle="tab" href="#dictionaryTab">Словарь&Текст</a></li>
  <li class="nav-link"><a data-toggle="tab" href="#statisticsTab">Статистика</a></li>
  <li class="nav-link addWord"><a data-toggle="tab" (click)="addNewWord()">Добавить слово</a></li>
</ul>

<div class="tab-content">
  <div id="dictionaryTab" class="tab-pane in active">
    <h3 class="pageHeader">Словарь & Аннотированный текст: </h3>
    <div class="dictionary_table-wrapper">
      <h3>Словарь: </h3>
      <table #dictionaryTableElement
             class="table-striped table-bordered dictionary_table">
        <thead>
        <tr>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':wordUp}"
              (click)="wordSortClick($event)"
          >Слово
          </th>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':countUp}"
              (click)="countSortClick($event)"
          >Число
          </th>
          <th class="table_header"
          >Теги
          </th>
          <th class="table_header"
          >Канон-ая форма
          </th>
          <th class="table_header"
          >Теги канон-ой формы
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of wordArray"
        >
          <td
            class="editItemCell"
            (dblclick)="editItem(pair[0])">
            {{pair[0]}}
          </td>
          <td>{{pair[1].count}}</td>
          <td
            class="editItemCell"
            (dblclick)="editTag(pair[0], pair[1].tags)">
            {{pair[1].tags}}
          </td>
          <td
            class="editItemCell"
            (dblclick)="editCanonForm(pair[0], pair[1].canonForm)"
          >
            {{pair[1].canonForm}}
          </td>
          <td
            class="editItemCell"
            (dblclick)="editCanonFormTags(pair[0], this.canonFormMap.get(pair[1].canonForm))"
          >
            {{this.canonFormMap.get(pair[1].canonForm)}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="annotated-text-wrapper">
      <h4> Аннотированный текст:</h4>
      <button *ngIf="annotatedTextIsEdit"
              (click)="cancelAnnotatedTextChange()"
              class="btn btn-link">Отменить изменения
      </button>
      <button *ngIf="annotatedTextIsEdit"
              (click)="analyzeAnnotatedText()"
              class="btn btn-link">Сохранить изменения
      </button>
      <textarea #annotatedTextComponent
                class="annotated-text"
                [ngClass]="{'annotated-text-edit':annotatedTextIsEdit,'annotated-text-error':annotatedTextWithError}"
                readonly
                [(ngModel)]="annotatedText"
                (keydown)="onAnnotatedTextKeydown($event)&&preventDefault($event)"
                (dblclick)="onAnnotatedTextDblclick()"
      ></textarea>
    </div>
    <dialog #dialog>
      <section>
        <p><label for="editWordInput">Edit word:</label>
          <input id="editWordInput" [(ngModel)]="newWord"
                 (keyup.enter)="saveWord()"/></p>
      </section>
      <menu>
        <button (click)="dialog.close()">Cancel</button>
        <button (click)="saveWord()">Confirm</button>
      </menu>
    </dialog>
  </div>
  <div id="statisticsTab" class="tab-pane">
    <h3 class="pageHeader">Статистика: </h3>
    <div class="dictionary_table-wrapper">
      <h4>Абсолютная частота встречаемости каждого кода: </h4>
      <table #tagTableElement
             class="table-striped table-bordered dictionary_table">
        <thead>
        <tr>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':tagNameUp}"
              (click)="tagNameSortClick()"
          >Тег
          </th>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':tagCountUp}"
              (click)="tagCountSortClick()"
          >Частота
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of statisticsTagArray"
        >
          <td>{{pair[0]}}</td>
          <td>{{pair[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="dictionary_table-wrapper">
      <h4>Абсолютная частота встречаемости конкретной пары слово_код: </h4>
      <table #wordTagTableElement
             class="table-striped table-bordered dictionary_table">
        <thead>
        <tr>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':wordTagWordUp}"
              (click)="wordTagWordSortClick()"
          >Слово
          </th>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':wordTagTagUp}"
              (click)="wordTagTagSortClick()"
          >Тег
          </th>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':wordTagCountUp}"
              (click)="wordTagCountSortClick()"
          >Частота
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of statisticsWordTagArray"
        >
          <td>{{JSON.parse(pair[0]).word}}</td>
          <td>{{JSON.parse(pair[0]).tag}}</td>
          <td>{{pair[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="dictionary_table-wrapper">
      <h4>Абсолютная частота встречаемости пар кодов (рядом стоящих): </h4>
      <table #tagTagTableElement
             class="table-striped table-bordered dictionary_table">
        <thead>
        <tr>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':tagTagTagUp}"
              (click)="TagTagTagSortClick()"
          >Тег 1
          </th>
          <th class="table_header"
          >Тег 2
          </th>
          <th class="arrow_icon_down table_header"
              [ngClass]="{'arrow_icon_up':tagTagCountUp}"
              (click)="TagTagCountSortClick()"
          >Частота
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of statisticsTagTagPairArray"
        >
          <td>{{JSON.parse(pair[0])[0]}}</td>
          <td>{{JSON.parse(pair[0])[1]}}</td>
          <td>{{pair[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="show-pos-tooltip"
     (click)="onShowTooltipClick()">?
</div>
<div class="pos-tooltip" [ngClass]="{'visible':isTooltipVisible}">
  <div class="pos-tooltip-table-wrapper">
    <table class="pos-tooltip-table">
      <thead>
      <tr>
        <th class="table_header"
        >Тег
        </th>
        <th class="table_header"
        >Значение
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input class="search-input" [(ngModel)]="tagSearch" (change)="onTagSearchChange($event)"></td>
        <td><input class="search-input" [(ngModel)]="wordSearch" (change)="onWordSearchChange($event)"></td>
      </tr>
      <tr *ngFor="let tagDefine of tagsDefinitionArray">
        <td>{{tagDefine[0]}}</td>
        <td>{{tagDefine[1]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
