.arrow_icon_down {
  background: url("./arrow_down.png") no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pageHeader {
  margin-left: 190px;
  margin-top: 20px;
  text-decoration: underline;
}

.table_header {
  margin: 10px 30px 10px 10px;
  width: 20px;
  height: 20px;
}

.dictionary-menu {
  .nav-link:hover {
    background-color: rgba(250, 249, 240, 0.8);
  }
  .nav-link {
    background-color: rgba(250, 249, 240, 0.5);
    border: 2px solid rgba(250, 249, 240, 1);
    &.addWord {
      cursor: pointer;
    }
  }
  position: fixed;
  left: 20px;
  top: 120px;
  display: inline-block;
}

.dictionary_table {
  background-color: rgba(250, 249, 240, 0.8);
  width: 100%;
  border: double aliceblue;
  &-wrapper {
    max-height: 500px;
    overflow-y: auto;
    margin: 50px 5% 20px 190px;
  }
}

.annotated-text {
  background-color: rgba(250, 249, 240, 0.8);
  width: 100%;
  display: block;
  height: 450px;
  border: double aliceblue;
  &-edit {
    border: 4px solid darkslategrey;
  }
  &-error {
    border: 4px solid palevioletred;
  }
  &:not(:focus) {
    cursor: pointer;
  }
  &-wrapper {
    max-height: 500px;
    overflow-y: auto;
    margin: 50px 5% 20px 190px;
  }
}

.file-buttons {
  display: flex;
  background-color: rgba(250, 249, 240, 0.6);
  flex-direction: row;
  justify-content: center;
}

.editItemCell {
  cursor: pointer;
}

.saveText {
  text-align: center;
  background-color: rgba(250, 249, 240, 0.6);
  padding: 20px 0 5px 0;
  margin: 0;
}

.show-pos-tooltip {
  background-color: rgba(250, 249, 240, 0.7);
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  border: 4px solid rgba(250, 249, 240, 1);
  border-radius: 5px;
  position: fixed;
  top: 20px;
  text-align: center;
  left: 20px;
  height: 60px;
  width: 60px;
}

.pos-tooltip {
  background-color: rgba(250, 249, 240, 0.7);
  display: none;
  position: fixed;
  top: 120px;
  left: 20px;
  &-table {
    cursor: default;
    background-color: rgba(250, 249, 240, 0.8);
    width: 300px;
    border: double aliceblue;
    input:not(:focus) {
      background-color: rgba(232, 227, 221, 0.8);;
    }
    tr:hover {
      background-color: rgba(250, 228, 196, 0.8);
    }
    &-wrapper {
      max-height: 400px;
      overflow-y: auto;
    }
  }
  &.visible {
    display: block;
  }
}
