<div class="openFile">
  <div class="download-file-button">
    <button (click)="openFileDialog()" class="btn btn-link">{{buttonName}}</button>
  </div>
  <app-file-reader
    [files]="files"
    (fileLoaded)="onFileLoaded($event)"
  >
  </app-file-reader>
</div>

<input #fileInput
       multiple
       type='file'
       class="file-input"
       (change)="openChooseFileDialog($event)"/>
